#BodyColumns{
    padding-left: 1vw;
    padding-right: 1vw;
    text-align: center;
    width: 98%; }


    #BodyColumns h3{
      padding: 1rem;
      font-size: 0.7rem;
    }
    #BodyColumns .hero{
      text-align: center;
      width: 95%;

    }
    #BodyColumns h1{
      padding: 1rem;
      font-size: 3rem;
    }
    #BodyColumns .column{
      text-align: center;
    }