html {
    background-color: $SBlue;
    font-family: "Bebas Neue", cursive;
}

body {
    font-family: "Bebas Neue", cursive;
    color: $SWhite;
}

.navbar {
    font-size: 1.6rem;
    padding-left: auto;
    padding-right: auto;
    background-color: $SDMagenta;
    color: $SWhite;
    .navbar-item {
        padding-left: 1rem;
        padding-right: 1rem;
        color: $SWhite;
        &:hover {
            background-color: $SMMagenta;
            color: $SWhite;
        }
    }
    .navbar-burger {
        color: $SWhite;
    }
    .navbar-menu {
        background-color: $SDMagenta;
    }
}

.columns {
    flex: 1 1 auto;
    position: relative;
    height: 50vh;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    .column {
        position: relative;
        height: auto;
    }
}

.inputFields {
    .columns {
        height: auto;
    }

    input {
        width: 8vh;
        font-size: 4vh;
    }
}

.buttonList {
    .button {
        width: 100%;
    }
}
