

html{
    background-color:blueviolet;
    font-family: 'Bebas Neue', cursive;
}

body{
    color: white;
    font-family: 'Bebas Neue', cursive;
}

.navbar{
        font-size: 1.6rem;
        padding-left: auto;
        padding-right: auto;
        .navbar-item{
            padding-left: 1rem;
            padding-right: 1rem;    
        }
    }

.columns{
    flex: 1 1 auto;
    position: relative;
    height: 50vh; 
    .column{
        position: relative;
        height: auto;
    }
}
 


