#SpeakerSelector .button{
    color: var(--white);
    background-color: var(--dmagenta);
    border: var(--white);
}

#SpeakerSelector .dropdown-menu{
    max-height: 30vh;
    overflow: auto; 
}



#SpeakerSelector .dropdown-content{
    background-color: var(--obsidian);
}
#SpeakerSelector .dropdown-item{
    color: white;
}

#SpeakerSelector .dropdown-item:hover{
    background-color: black;
}
